{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<section class="vh-100" style="background-color: #666666;">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px; margin-top: 50px">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px; padding-right: 20px">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">Муханьков Сергій</h5>

                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1" >Інфа: <br>Є засновником маркету BOYSTOYS. Мешкає у Києві. Торгує хламом, але має і достойний товар</p>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
