{% load static %}
 <footer>

         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="/home/contacts"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br>Київ</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +38 097 333 01 01</li>
                        <li><a href="Mailto: boystoys@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> boystoys@gmail.com</li>
                     </ul>
                     <ul class="location_icon">
                        <li><a href="#"><img src="{% static 'img/instagram logo.png' %}" class="social-media" alt="instagram-logo"></a></li>
                        <li><a href="#"><img src="{% static 'img/facebook logo.png' %}" class="social-media" alt="facebook-logo"></a></li>
                        <li><a href="#"><img src="{% static 'img/linkedin logo.png' %}" class="social-media" alt="linkedin-logo"></a></li>
                        <li><a href="#"><img src="{% static 'img/twitter logo.png' %}" class="social-media" alt="twitter-logo"></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. boystoys</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
