{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

         <div class="clients">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Шо кажуть наші клієнти</h2>
                     <p>Це, звісно, жарт, але ми пишаємося нашим магазином та цінуємо кожного нашого клієнта</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="{% static 'img/our.png' %}" alt="#"/></figure>
                                          <h3>Валерій Залужний</h3>
                                          <p>То нарешті з'явилися нормальні хлопи а не якась голота. Купляю в них британські шкарпетки та радію шо ногі не мерзнуть. Вельмо рекомендую</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="{% static 'img/our2.png' %}" alt="#"/></figure>
                                          <h3>Притула</h3>
                                          <p>Байраткари то гарно али коли не має зимової одьожки та ще в захисному кольорі то сумно. Купив у бойзтойз німецького бушлату то дуже задоволений - ні холодно ні жарко. То не потієш і не мерзнеш зовсім. </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="clients_box">
                                          <figure><img src="{% static 'img/our3.png' %}" alt="#"/></figure>
                                          <h3>Полковник Порошенко</h3>
                                          <p>Взяв собі броніка, бо без броніка наразі з конфетами у потьомках не походиш. Почом знаєш шо за біса там носить. </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class='fa fa-angle-left'></i>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class='fa fa-angle-right'></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
<div style="text-align: center; margin-bottom: 20px">
   <h3>Маєш шо сказати - тицяй того конверта</h3>
   <li><a href="Mailto: boystoys@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> boystoys@gmail.com</li>
</div>
<div style="text-align: center">
   <h3 style="color: navy">Якшо шо, то приходьте до нашого офісу на Жилянській (якщо у вікнах темно - то в нас немає світла)</h3>
   <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Kyiv,%20Zhylyanska&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>




{% endblock content %}