{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div style="text-align: center">
    <h2 style="color: navy">РЕЄСТРАЦІЯ КОРИСТУВАЧА</h2>
</div>


<form method="post" id="form1" style="width: 600px">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Зареєструватися" style="margin-bottom: 5px; margin-top: 20px; background-color: lightblue">
</form>
<div style="text-align: center; margin-bottom: 20px">
    <a href="{% url 'login' %}" style="font-size: 20px; color: green">До сторінки реєстрації</a>
    <a href="{% url 'home' %}" style="margin-left: 20px; font-size: 20px; color: navy">Домашня</a>
</div>

  <style>
                       #form1 {
                            width: 400px;
                            border: 1px solid gray;
                            border-radius: 15px;
                            margin: 25px auto;
                            padding: 30px 40px;
                            text-align: left;
                            box-shadow: 10px 10px 40px silver;
                       }

                       input {
                            width: 100%;
                       }
                       .error {
                            color: red;
                       }
                       .icon {
                            width: 24px;
                            margin-left: 10px;
                       }
                   </style>
{% endblock %}